header,div,footer,section,*{
	outline: 1px dashed red;
}

menu,ul{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #111;
	text-align: right;
}

p,h2{
	text-align: right;
	margin: 0;
}

body{
	background: url('./images/bg.gif') 0 0 repeat #aea997;
}

div{
	direction: rtl;
}

.contain{
	padding-top: 38px;
}
/*--------------------------------Header Part----------------------------*/
header{
	min-height: 191px;
}

header .logo{
	min-height: 136px;
	background: url('./images/main-bg.jpg') 0 0 no-repeat;
	border-bottom: 1px solid #e9e9e9;
}

header .logo img{
	width: 300px;
	height: 95px;
	padding: 20px 325px;
}

header .menu{
	min-height: 60px;
	background: url('./images/menu.gif') 0 0 repeat-x #fff;
	padding: 0 70px;
}

header .menu nav menu li{
	float: right;
}

header .menu nav menu li a{
	display: block;
	padding: 17px 10px;
	color: #928b82;
	font-size: 18px;
}

header .menu .reserve{
	margin-right: 580px;
	padding: 12px 0;
}

header .menu .reserve a{
	display: block;
	background: url('./images/bell-icon.png') right no-repeat;
}

header .menu .reserve a p{
	margin-right: 45px;
	padding: 5px 0;
	color: #DEAE54;
	font-size: 18px;
}
/*--------------------------------Content Part----------------------------*/
section.content .slid-part{
	min-height: 596px;
	background: url('./images/slider-bg.jpg') 0 0 no-repeat;
	padding: 40px 40px 0;
}

section.content .slid-part .slideshow{
	min-height: 450px;
	background: url('./images/slider-shadow.png') 0 bottom repeat-x;
	padding-bottom: 19px;
}

section.content .slid-part .hline{
	height: 1px;
	background: url('./images/line-hor.png')  0 bottom repeat-x;
	margin-top: 30px;
}

section.content .slid-part .text{
	padding: 13px 150px;
}

section.content .slid-part .text p{
	color: #FFF;
	font-size: 30px;
	text-align: center;
}

section.content .middle{
	min-height: 590px;
}
/*--------------------------------Footer Part----------------------------*/
footer{
	min-height: 134px;
}

footer .copy{
	min-height: 45px;
}

footer .about{
	min-height: 89px;
}