@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url('http://themes.googleusercontent.com/static/fonts/abrilfatface/v5/X1g_KwGeBV3ajZIXQ9VnDvn8qdNnd5eCmWXua5W-n7c.woff') format('woff');
}

@font-face{
    font-family: 'bmitra';
    src: url('fonts/smitrabd_0.eot');
    src: url('fonts/smitrabd_0.eot?#iefix') format('embedded-opentype'),
         url('fonts/smitrabd_0.woff') format('woff'),
         url('fonts/smitrabd_0.ttf') format('truetype'),
         url('fonts/smitrabd_0.svg#2MitraBoldBold') format('svg');
	font-weight: normal;
	font-style : normal;
}

a:active,
a:visited,
a:link { 
    border: none;
    outline: none;
}

menu,ul{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #111;
	text-align: right;
}

h2{
	color: #928B82;
}

h3{
	text-align: right;
	margin: 0;
	color: #928B82
}

p,h2{
	text-align: right;
	margin: 0;
	font-family: 'bmitra' , 'tahoma';
}

body{
	background: url('./images/bg.jpg') 0 0 repeat #aea997;
}

div{
	direction: rtl;
}

.ltr{
	direction: ltr;
}

.ok {
	background-color : #fff;
}

.err {
	background-color: #f99;
}

.but a{
	margin-top: 10px;
	height: 27px;
	background: url('./images/link.gif') 0 0 repeat-x #eae9e7;
	padding: 5px 14px;
	text-align: center;
	color: #8F8476;
	border: 1px solid #c7c7c7;
	border-color: #c7c7c7 #e6e6e6 #c7c7c7 #e6e6e6;
	border-width: 0 1px 1px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

.but a:hover{
	color: #DEAE54;
}

.contain{
	padding-top: 38px;
}

.star5{
	display: block;
	width: 85px;
	height: 17px;
	margin-right: 30px;
	background: url('./images/star.png') center no-repeat;
}

.star4{
	display: block;
	width: 68px;
	height: 17px;
	margin-right: 30px;
	background: url('./images/star.png') 0 0 no-repeat;
}

.star3{
	display: block;
	width: 51px;
	height: 17px;
	margin-right: 30px;
	background: url('./images/star.png') 0 0 no-repeat;
}

.star2{
	display: block;
	width: 34px;
	height: 17px;
	margin-right: 30px;
	background: url('./images/star.png') 0 0 no-repeat;
}

.star1{
	display: block;
	width: 17px;
	height: 17px;
	margin-right: 30px;
	background: url('./images/star.png') 0 0 no-repeat;
}
/*  Table in hotels */
#boxtable{
	width: 			480px;
	min-height: 	370px;
	margin: 		0 auto;
	margin-bottom: 	30px;
	margin-top: 	50px;
	border: 		6px solid #928B82 ;
	border-radius: 	14px;
	box-shadow: 	5px 5px 15px 5px;
	font-family: 'bmitra' , 'tahoma';
}

#momt{
	margin: 		0 auto;
	margin-top: 	10px;
	width: 			460px;
	height: 		300px;
	text-align: 	center;

}

#momt caption{
	margin-bottom: 15px;
	font-size: 18px;
}

#momt td, th{
	border: 		1px solid #928B82 ;
	vertical-align: middle;
}
/*--------------------------------Header Part----------------------------*/
header{
	min-height: 191px;
}

header .logo{
	min-height: 136px;
	background: url('./images/main-bg.jpg') 0 0 no-repeat;
	border-bottom: 1px solid #e9e9e9;
}

header .logo img{
	width: 300px;
	height: 95px;
	margin: 0 325px;
}

header .menu{
	min-height: 60px;
	background: url('./images/menu.gif') 0 0 repeat-x #fff;
	padding: 0 70px;
}

header .menu nav menu li{
	float: right;
}

header .menu nav menu li a{
	display: block;
	padding: 18px 10px;
	color: #928b82;
	font-size: 18px;
	margin-left: 1px;
}

.active{
	background: url('./images/menu-hover.gif') 0 0 repeat-x;
}

header .menu nav menu li a:hover,
header .menu nav menu li a.active{
	background: url('./images/menu-hover.gif') 0 0 repeat-x;
}

header .menu .reserve{
	margin-right: 580px;
	padding: 12px 0;
}

header .menu .reserve a{
	display: block;
	background: url('./images/bell-icon.png') right no-repeat;
}

header .menu .reserve a h2{
	margin-right: 45px;
	padding: 5px 0;
	color: #DEAE54;
	font-size: 18px;
}
/*--------------------------------Content Part----------------------------*/
section.content .slid-part{
	background: url('./images/slider-bg.jpg') 0 0 no-repeat;
	padding: 40px 40px 0;
}

section.content .slid-part .slideshow{
	min-height: 450px;
	padding-bottom: 19px;
}
/*******Slider********/
#block-views-slider-block{
	overflow: hidden; 
	padding-bottom: 22px;
	background: url('./images/line-hor.png') 0 bottom repeat-x;
}

.flex-direction-nav li a{
	display: none;
}

.flexslider{
	background: none;
	border: none;
	border-radius: 0 0 15px 15px;
	padding-bottom: 19px;
	background: url('./images/slider-shadow.png') 0 bottom repeat-x;
}

.flexslider .views-field-field-slide-image {
	border: 12px solid #f5f5f5;
	direction: ltr;
}

.flex-nav-container {
	margin-bottom: 0;
}

.flex-control-nav {
	bottom: -2px;
}

.flex-control-nav li{
	margin-left: -10px;
}

.flex-control-nav li:first-child{
	margin: 0;
}

.flex-control-nav li a{
	width: 40px;
	height: 37px;
	background: url('./images/pager.png') 0 0 no-repeat;
	text-indent: 0;
	font-family: 'Abril Fatface', cursive;
	font-size: 24px;
	line-height: 29px;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	padding-top: 4px;
	color: #fff;
}

.flex-control-nav li:first-child + li  a {
	background-position: -43px 0;
}

.flex-control-nav li:first-child + li + li  a {
	background-position: -88px 0;
	color: #a47431;
}

.flex-control-nav li:first-child + li + li + li a {
	background-position: -131px 0;
	color: #deae55;
}

.flex-control-nav li a:hover,
.flex-control-nav li a.active{
	background-position: 0 0; color: #000 !important;
}

.flex-nav-container {
  float: right;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.flex-nav-container ul,
.flex-nav-container ol {
  list-style: none;
}

.flexslider ul.slides,
.flex-nav-container ol.flex-control-nav,
.flex-nav-container ul.flex-direction-nav,
.flexslider ul.slides li img {
  padding: 0px;
  margin: 0px;
}
/*******END Slider********/

section.content .slid-part .hline{
	height: 1px;
	background: url('./images/line-hor.png')  0 bottom repeat-x;
}

section.content .slid-part .text{
	padding: 13px 150px;
}

section.content .slid-part .text h2{
	color: #FFF;
	font-size: 30px;
	text-align: center;
}

section.content .middle{
	background-color: #F8F8F8;
}

section.content .middle .works{
	min-height: 376px;
	padding: 0 40px 20px;
}

section.content .middle .works .first,
section.content .middle .works .second,
section.content .middle .works .third{
	float: right;
	min-height: 280px;
	width: 270px;
	margin-right: 27px;
	margin-top: 40px;
}

section.content .middle .works .first{
	margin-right: 0;
}

section.content .middle .works .tit h2{
	color: #928b82;
	font-size: 22px;
}

section.content .middle .works .pic img{
	width: 270px;
	height: 135px;
	margin-top: 10px;
}

section.content .middle .works .text p{
	color: #928b82;
	margin-top: 15px;
}

section.content .middle .social{
	height: 197px;
	background: url('./images/content-glow.gif') center no-repeat;
	padding: 0 40px;
}

section.content .middle .social .first,
section.content .middle .social .second,
section.content .middle .social .third{
	float: right;
	min-height: 170px;
	width: 270px;
	margin-right: 27px;
}

section.content .middle .social .first{
	margin-right: 0;
}

section.content .middle .social .pic img{
	margin: -25px 100px 20px;	
}

section.content .middle .social p.info{
	margin-bottom: 5px;
	color: #B7751E;
	font-style: italic;
}

section.content .middle .social p.name{
	text-align: left;
	color: #111;
	font-style: normal;
}

section.content .middle .social .hline{
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
}

section.content .middle .social a{
	color: #A0978B;
}
/*--------------------------------Footer Part----------------------------*/
footer{
	position: relative;
}

footer .copy{
	background: url('./images/footer.gif') 0 0 repeat-x #ecebea;
	padding: 16px 40px;
}

footer .copy p{
	color: #9c968e;
	text-align: center;
	font-family: 'Arial';
	font-size: 15px;
}

footer .about{
	padding: 15px 200px 30px;
}

footer .about p{
	text-align: center;
	color: #5D5B53;
	font-size: 18px;
}

footer .about a{
	text-align: center;
	color: #5D5B53;
	font-size: 14px;
}

footer .about a:hover{
	color: #948551;
}

footer .anchor{
	position: absolute;
	top: 70px;
	left: 0;
}

footer .anchor a{
	display: block;
	padding: 22px 22px;
	background: url('./images/to-top.png') 0 0 no-repeat;
}

footer .amar{
	margin-left: 266px;
}
/*--------------------------------Gallery Page----------------------------*/
section.gallery{
	background-color: #F8F8F8;
	padding: 0 40px;
}

section.gallery .title h2{
	padding-top: 20px;
	color: #928B82;
	font-size: 22px;
}

section.gallery ul{
	padding-top: 25px;
}

section.gallery ul li{
	float: right;
	margin-right: 18px;
	height: 250px;
}

section.gallery ul li a{
	display: block;
	position: relative;
}

section.gallery ul li .effe{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url('./images/magnify.png') center center no-repeat #000;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	   -moz-transition: opacity 500ms;
	    -ms-transition: opacity 500ms;
	     -o-transition: opacity 500ms;
	        transition: opacity 500ms;
}

section.gallery ul li .effe:hover{
	opacity: 0.4;
	-webkit-transition: opacity 800ms;
	   -moz-transition: opacity 800ms;
	    -ms-transition: opacity 800ms;
	     -o-transition: opacity 800ms;
	        transition: opacity 800ms;
}

section.gallery ul li img{
	width: 265px;
	height: 177px;
}

section.gallery ul li p{
	margin-top: 11px;
	color: #deae54;
	font-size: 18px;
}
/*--------------------------------Hotels Page----------------------------*/
section.hotels{
	background-color: #F8F8F8;
	padding: 0 40px 50px;
}

section.hotels .title h2{
	padding-top: 20px;
	color: #928B82;
	font-size: 22px;
}

section.hotels ul{
	padding-top: 25px;
}

section.hotels ul li{
	float: right;
	margin-right: 14px;
	width: 200px;
}

section.hotels ul li a{
	display: block;
	position: relative;
}

section.hotels ul li .effe{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url('./images/magnify.png') center center no-repeat #000;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	   -moz-transition: opacity 500ms;
	    -ms-transition: opacity 500ms;
	     -o-transition: opacity 500ms;
	        transition: opacity 500ms;
}

section.hotels ul li .effe:hover{
	opacity: 0.4;
	-webkit-transition: opacity 800ms;
	   -moz-transition: opacity 800ms;
	    -ms-transition: opacity 800ms;
	     -o-transition: opacity 800ms;
	        transition: opacity 800ms;
}

section.hotels ul li img{
	width: 200px;
	height: 155px;
}

section.hotels ul li .tit{
	height: 50px;
	background: url('./images/key.png') right center no-repeat;
}

section.hotels ul li .tit h2{
	font-size: 20px;
	color: #DEAE54;
	margin-right: 30px;
}

section.hotels ul li .tit-dr{
	height: 50px;
	background: url('./images/stethoscope.png') right center no-repeat;
}

section.hotels ul li .tit-dr h2{
	font-size: 20px;
	color: #DEAE54;
	margin-right: 55px;
}

section.hotels ul li .text p{
	margin-top: 5px;
	font-size: 15px;
}

section.hotels .but{
	margin-top: 30px;
}

section.hotels .hotels-map a p{
	margin-top: 20px;
	font-size: 18px;
	color: #DEAE54;
}
/*--------------------------------One-hotel Page----------------------------*/
section.one-hotel{
	background-color: #F8F8F8;
	padding: 0 40px 50px;
}

section.one-hotel .title h2{
	padding-top: 20px;
	color: #928B82;
	font-size: 22px;
}

section.one-hotel .text p{
	font-size: 17px;
	margin-top: 10px;
	line-height: 2;
}
section.one-hotel .text dl{
	text-align: 	right;
}

section.one-hotel ul{
	padding-top: 25px;
}

section.one-hotel ul li{
	float: right;
	margin-right: 18px;
}

section.one-hotel ul li a{
	display: block;
	position: relative;
}

section.one-hotel ul li .effe{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url('./images/magnify.png') center center no-repeat #000;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	   -moz-transition: opacity 500ms;
	    -ms-transition: opacity 500ms;
	     -o-transition: opacity 500ms;
	        transition: opacity 500ms;
}

section.one-hotel ul li .effe:hover{
	opacity: 0.4;
	-webkit-transition: opacity 800ms;
	   -moz-transition: opacity 800ms;
	    -ms-transition: opacity 800ms;
	     -o-transition: opacity 800ms;
	        transition: opacity 800ms;
}

section.one-hotel ul li img{
	width: 265px;
	height: 177px;
}

section.one-hotel ul li p{
	margin-top: 11px;
	color: #deae54;
	font-size: 18px;
}
/*--------------------------------Contact Page----------------------------*/
section.contact{
	background-color: #F8F8F8;
	padding: 0 40px 50px;
}

section.contact .title h2{
	padding-top: 20px;
	color: #928B82;
	font-size: 22px;
}

section.contact .cform{
	margin-top: 	30px;
}

section.contact .cform{
	text-align: 	right;
}

section.contact .location .text p{
	font-size: 18px;
	line-height: 2;
}

section.contact .cform .form{
	margin-left: 	430px;
	min-height: 	400px;
}

section.contact .cform .form h2{
	color: #928B82;
	font-size: 20px;
}

section.contact .cform .form p{
	margin: 10px 0 5px;
}

section.contact .cform .form p span{
	color: red;
}

section.contact .cform .form input{
	width: 			394px;
	min-height: 	29px;
	border-radius: 	4px;
}

section.contact .cform .info h2{
	color: #928B82;
	font-size: 20px;
}

section.contact .cform .info a{
	color: #DEAE54;
	text-decoration: underline;
}

section.contact .cform .info p{
	margin-top: 10px;
}

section.contact .cform .form .txt{
	min-height: 	140px;
	width: 			390px;
	border-radius: 	4px;
	border: 2px inset;
}

section.contact .cform .form .btn{
	float: right;
	margin-top: 10px;
	height: 27px;
	background: url('./images/link.gif') 0 0 repeat-x #eae9e7;
	padding: 1px 14px;
	color: #8F8476;
	border: 1px solid #c7c7c7;
	border-color: #c7c7c7 #e6e6e6 #c7c7c7 #e6e6e6;
	border-width: 0 1px 1px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	margin-left: 10px;
	width: 65px;
}

section.contact .cform .form iframe{
	width: 0;
	height: 0;
	opacity: 0;
}

section.contact .cform .info{
	float: 			left;
	width: 			410px;
	min-height: 	400px;
}
section.contact .cform .info p span{
	float: 			left;
	margin-left: 	150px;
}

/*--------------------------------Reserve Page----------------------------*/
section.reserve{
	background-color: #F8F8F8;
	padding: 0 40px 50px;
}

section.reserve .title h2{
	padding-top: 20px;
	color: #928B82;
	font-size: 22px;
}

section.reserve .forms{
	float: right;
	width: 550px;
}

section.reserve .forms form label{
	float: right;
}

section.reserve .detail{
	margin-right: 570px;
}

section.reserve .forms iframe{
	width: 0;
	height: 0;
	opacity: 0;
}

section.reserve .forms label{
	margin: 10px 0 5px;
}

section.reserve .forms select{
	padding: 7px 5px;
	width: 145px;
	height: 34px;
}

section.reserve .forms label p.check{
	display: inline-block;
	width: 80px;
}

section.reserve .forms label p.type-room{
	display: inline-block;
	width: 80px;
}

section.reserve .forms label.type-room select{
	width: 200px;
}

section.reserve .forms label p.num-person{
	display: inline-block;
	width: 84px;
	margin-right: 10px;
}

section.reserve .forms label.num-person input{
	width: 141px;
	height: 28px;
}

section.reserve .forms label p.select-hotel{
	display: inline-block;
	width: 100px;
}

section.reserve .forms label.hotels select{
	width: 220px;
}

section.reserve .forms input.name,
section.reserve .forms input.country,
section.reserve .forms input.mail,
section.reserve .forms input.phone,
section.reserve .forms input.extra{
	width: 523px;
	height: 28px;
}

section.reserve .forms label p.extra{
	display: inline-block;
	width: 120px;
}

section.reserve .forms label p.accept{
	display: inline-block;
	width: 450px;
}

section.reserve .forms form .btn{
	float: right;
	margin-top: 10px;
	height: 27px;
	background: url('./images/link.gif') 0 0 repeat-x #eae9e7;
	padding: 1px 14px;
	color: #8F8476;
	border: 1px solid #c7c7c7;
	border-color: #c7c7c7 #e6e6e6 #c7c7c7 #e6e6e6;
	border-width: 0 1px 1px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	margin-left: 10px;
}